--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: chk_caracteristica_perfil_valor(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_caracteristica_perfil_valor() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_tipo_dato VARCHAR(20);

BEGIN

    SELECT tipo_dato INTO v_tipo_dato

    FROM caracteristica_tecnica

    WHERE id_caracteristica = NEW.id_caracteristica;

 

    IF v_tipo_dato = 'ENUMERADO' THEN

        IF NEW.id_valor IS NULL OR NEW.valor IS NOT NULL THEN

            RAISE EXCEPTION 'Para caracter├¡sticas de tipo ENUMERADO debe cargarse id_valor y no valor.';

        END IF;

        IF NOT EXISTS (

            SELECT 1 FROM valor_caracteristica vc

            WHERE vc.id_valor = NEW.id_valor

              AND vc.id_caracteristica = NEW.id_caracteristica

        ) THEN

            RAISE EXCEPTION 'id_valor no pertenece a la caracter├¡stica t├⌐cnica indicada.';

        END IF;

    ELSE

        IF NEW.valor IS NULL OR NEW.id_valor IS NOT NULL THEN

            RAISE EXCEPTION 'Para caracter├¡sticas de tipo TEXTO/NUMERICO debe cargarse valor y no id_valor.';

        END IF;

    END IF;

 

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.chk_caracteristica_perfil_valor() OWNER TO postgres;

--
-- Name: chk_caracteristica_tecnica_de_profesion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_caracteristica_tecnica_de_profesion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM caracteristica_tecnica ct
        JOIN perfil p ON p.id_perfil = NEW.id_perfil
        WHERE ct.id_caracteristica = NEW.id_caracteristica
          AND ct.id_profesion = p.id_profesion
    ) THEN
        RAISE EXCEPTION 'La caracter├¡stica t├⌐cnica no corresponde a la profesi├│n del perfil.';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.chk_caracteristica_tecnica_de_profesion() OWNER TO postgres;

--
-- Name: chk_caracteristica_valor_no_negativo(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_caracteristica_valor_no_negativo() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_tipo_dato VARCHAR(20);
    v_numero    DOUBLE PRECISION;
BEGIN
    SELECT tipo_dato INTO v_tipo_dato
    FROM caracteristica_tecnica
    WHERE id_caracteristica = NEW.id_caracteristica;

    IF v_tipo_dato = 'NUMERICO' THEN
        IF NEW.valor IS NULL THEN
            RAISE EXCEPTION 'Para la caracter├¡stica t├⌐cnica debe especificarse un valor num├⌐rico.';
        END IF;
        BEGIN
            v_numero := NEW.valor::double precision;
        EXCEPTION WHEN invalid_text_representation THEN
            RAISE EXCEPTION 'La caracter├¡stica t├⌐cnica debe ser un n├║mero v├ílido.';
        END;

        IF v_numero < 0 THEN
            RAISE EXCEPTION 'La caracter├¡stica t├⌐cnica no admite valores negativos.';
        END IF;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.chk_caracteristica_valor_no_negativo() OWNER TO postgres;

--
-- Name: chk_perfil_fecha_solicitud_baja(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_perfil_fecha_solicitud_baja() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.estado = 'PendienteBaja' AND OLD.estado <> 'PendienteBaja' THEN
        IF NEW.fecha_solicitud_baja IS NULL THEN
            NEW.fecha_solicitud_baja := now();
        END IF;
    ELSIF NEW.estado = 'Activo' THEN
        NEW.fecha_solicitud_baja := NULL;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.chk_perfil_fecha_solicitud_baja() OWNER TO postgres;

--
-- Name: chk_perfil_no_cambiar_profesion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_perfil_no_cambiar_profesion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.id_profesion IS DISTINCT FROM OLD.id_profesion THEN
        RAISE EXCEPTION 'La profesi├│n de un perfil no puede modificarse.';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.chk_perfil_no_cambiar_profesion() OWNER TO postgres;

--
-- Name: chk_perfil_unico_por_profesion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_perfil_unico_por_profesion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM perfil
        WHERE id_usuario = NEW.id_usuario
          AND id_profesion = NEW.id_profesion
          AND estado IN ('Activo', 'PendienteBaja')
    ) THEN
        RAISE EXCEPTION 'El usuario ya posee un perfil para la profesi├│n indicada.';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.chk_perfil_unico_por_profesion() OWNER TO postgres;

--
-- Name: chk_usuario_dni_no_negativo(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.chk_usuario_dni_no_negativo() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$
DECLARE
    v_numero BIGINT;
BEGIN
    IF NEW.dni IS NULL THEN
        RAISE EXCEPTION 'El DNI no puede ser nulo.';
    END IF;

    IF NOT NEW.dni ~ '^[0-9]+$' THEN
        RAISE EXCEPTION 'El DNI debe contener ├║nicamente d├¡gitos num├⌐ricos.';
    END IF;

    BEGIN
        v_numero := NEW.dni::bigint;
    EXCEPTION WHEN invalid_text_representation OR numeric_value_out_of_range THEN
        RAISE EXCEPTION 'El DNI debe ser un n├║mero v├ílido.';
    END;

    IF v_numero < 0 THEN
        RAISE EXCEPTION 'El DNI no puede ser un n├║mero negativo.';
    END IF;

    RETURN NEW;
END;
$_$;


ALTER FUNCTION public.chk_usuario_dni_no_negativo() OWNER TO postgres;

--
-- Name: fn_crear_agenda(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_crear_agenda() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_id_agenda BIGINT;
BEGIN
    INSERT INTO agenda (margen_actividad_minutos, id_usuario)
    VALUES (60, NEW.id_usuario)
    RETURNING id_agenda INTO v_id_agenda;

    INSERT INTO jornada_agenda (id_agenda, dia_semana, hora_inicio, hora_fin)
    SELECT v_id_agenda, d, '09:00'::TIME, '18:00'::TIME
    FROM (VALUES (1), (2), (3), (4), (5)) AS v(d);

    RETURN NEW;
END $$;


ALTER FUNCTION public.fn_crear_agenda() OWNER TO postgres;

--
-- Name: fn_validar_bloqueo_no_actividad(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_validar_bloqueo_no_actividad() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_margen INT;
    v_id_usuario BIGINT;
BEGIN
    SELECT margen_actividad_minutos INTO v_margen
    FROM agenda WHERE id_agenda = OLD.id_agenda;

    v_margen := COALESCE(v_margen, 60);

    SELECT a.id_usuario INTO v_id_usuario
    FROM agenda a WHERE a.id_agenda = OLD.id_agenda;

    IF EXISTS (
        SELECT 1
        FROM asignacion_actividad aa
        JOIN actividad act ON act.id_actividad = aa.id_actividad
        JOIN planificacion pl ON pl.id_planificacion = act.id_planificacion
        JOIN proyecto p ON p.id_proyecto = pl.id_proyecto
        JOIN miembros_proyecto mp ON mp.id_miembro = aa.id_miembro
        JOIN perfil pf ON pf.id_perfil = mp.id_perfil
        WHERE p.estado IN ('Publicado', 'Confirmado')
          AND mp.estado_participacion = 'Activo'
          AND pf.id_usuario = v_id_usuario
          AND OLD.fecha_hora_inicio < act.fecha_hora_fin + (v_margen * INTERVAL '1 minute')
          AND OLD.fecha_hora_fin > act.fecha_hora_inicio - (v_margen * INTERVAL '1 minute')
    ) THEN
        RAISE EXCEPTION 'No se puede liberar un horario comprometido por una actividad';
    END IF;
    RETURN OLD;
END $$;


ALTER FUNCTION public.fn_validar_bloqueo_no_actividad() OWNER TO postgres;

--
-- Name: fn_validar_solape_bloqueo(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_validar_solape_bloqueo() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF EXISTS (
        SELECT 1
        FROM bloqueo_agenda b
        WHERE b.id_agenda = NEW.id_agenda
          AND b.id_bloqueo IS DISTINCT FROM NEW.id_bloqueo
          AND NEW.fecha_hora_inicio < b.fecha_hora_fin
          AND NEW.fecha_hora_fin > b.fecha_hora_inicio
    ) THEN
        RAISE EXCEPTION 'El bloqueo se superpone con otro bloqueo existente de la agenda';
    END IF;
    RETURN NEW;
END $$;


ALTER FUNCTION public.fn_validar_solape_bloqueo() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actividad (
    id_actividad bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(200),
    duracion_minutos integer NOT NULL,
    fecha_hora_inicio timestamp without time zone NOT NULL,
    fecha_hora_fin timestamp without time zone GENERATED ALWAYS AS ((fecha_hora_inicio + ((duracion_minutos)::double precision * '00:01:00'::interval))) STORED,
    id_planificacion bigint NOT NULL,
    id_ubicacion bigint,
    CONSTRAINT chk_actividad_duracion CHECK ((duracion_minutos > 0))
);


ALTER TABLE public.actividad OWNER TO postgres;

--
-- Name: actividad_id_actividad_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.actividad_id_actividad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actividad_id_actividad_seq OWNER TO postgres;

--
-- Name: actividad_id_actividad_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.actividad_id_actividad_seq OWNED BY public.actividad.id_actividad;


--
-- Name: agenda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agenda (
    id_agenda bigint NOT NULL,
    id_usuario bigint NOT NULL,
    margen_actividad_minutos integer DEFAULT 30 NOT NULL
);


ALTER TABLE public.agenda OWNER TO postgres;

--
-- Name: agenda_id_agenda_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agenda_id_agenda_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agenda_id_agenda_seq OWNER TO postgres;

--
-- Name: agenda_id_agenda_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agenda_id_agenda_seq OWNED BY public.agenda.id_agenda;


--
-- Name: asignacion_actividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asignacion_actividad (
    id_asignacion_act bigint NOT NULL,
    id_miembro bigint NOT NULL,
    id_actividad bigint NOT NULL
);


ALTER TABLE public.asignacion_actividad OWNER TO postgres;

--
-- Name: asignacion_actividad_id_asignacion_act_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asignacion_actividad_id_asignacion_act_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asignacion_actividad_id_asignacion_act_seq OWNER TO postgres;

--
-- Name: asignacion_actividad_id_asignacion_act_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asignacion_actividad_id_asignacion_act_seq OWNED BY public.asignacion_actividad.id_asignacion_act;


--
-- Name: bloqueo_agenda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bloqueo_agenda (
    id_bloqueo bigint NOT NULL,
    fecha_hora_inicio timestamp without time zone NOT NULL,
    fecha_hora_fin timestamp without time zone NOT NULL,
    motivo character varying(200),
    id_agenda bigint NOT NULL,
    CONSTRAINT chk_bloqueo_rango CHECK ((fecha_hora_fin > fecha_hora_inicio))
);


ALTER TABLE public.bloqueo_agenda OWNER TO postgres;

--
-- Name: bloqueo_agenda_id_bloqueo_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bloqueo_agenda_id_bloqueo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bloqueo_agenda_id_bloqueo_seq OWNER TO postgres;

--
-- Name: bloqueo_agenda_id_bloqueo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bloqueo_agenda_id_bloqueo_seq OWNED BY public.bloqueo_agenda.id_bloqueo;


--
-- Name: caracteristica_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caracteristica_perfil (
    id_perfil bigint NOT NULL,
    id_caracteristica bigint NOT NULL,
    valor character varying(50),
    fecha_registro date,
    id_valor bigint
);


ALTER TABLE public.caracteristica_perfil OWNER TO postgres;

--
-- Name: caracteristica_tecnica; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caracteristica_tecnica (
    id_caracteristica bigint NOT NULL,
    id_profesion bigint,
    codigo character varying(50) NOT NULL,
    unidad character varying(50),
    tipo_dato character varying(20) DEFAULT 'TEXTO'::character varying NOT NULL,
    CONSTRAINT chk_caracteristica_tecnica_tipo_dato CHECK (((tipo_dato)::text = ANY ((ARRAY['ENUMERADO'::character varying, 'TEXTO'::character varying, 'NUMERICO'::character varying])::text[])))
);


ALTER TABLE public.caracteristica_tecnica OWNER TO postgres;

--
-- Name: caracteristica_tecnica_id_caracteristica_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.caracteristica_tecnica_id_caracteristica_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.caracteristica_tecnica_id_caracteristica_seq OWNER TO postgres;

--
-- Name: caracteristica_tecnica_id_caracteristica_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.caracteristica_tecnica_id_caracteristica_seq OWNED BY public.caracteristica_tecnica.id_caracteristica;


--
-- Name: dependencia_actividades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dependencia_actividades (
    id_actividad_predecesora bigint NOT NULL,
    id_actividad_sucesora bigint NOT NULL,
    CONSTRAINT chk_dependencia_no_autoreferencia CHECK ((id_actividad_predecesora <> id_actividad_sucesora))
);


ALTER TABLE public.dependencia_actividades OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: genero; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genero (
    id_genero bigint NOT NULL,
    codigo character varying(50) NOT NULL
);


ALTER TABLE public.genero OWNER TO postgres;

--
-- Name: genero_id_genero_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.genero_id_genero_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genero_id_genero_seq OWNER TO postgres;

--
-- Name: genero_id_genero_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.genero_id_genero_seq OWNED BY public.genero.id_genero;


--
-- Name: habilidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.habilidad (
    id_habilidad bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(200)
);


ALTER TABLE public.habilidad OWNER TO postgres;

--
-- Name: habilidad_id_habilidad_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.habilidad_id_habilidad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habilidad_id_habilidad_seq OWNER TO postgres;

--
-- Name: habilidad_id_habilidad_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.habilidad_id_habilidad_seq OWNED BY public.habilidad.id_habilidad;


--
-- Name: habilidad_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.habilidad_perfil (
    id_perfil bigint NOT NULL,
    id_habilidad bigint NOT NULL
);


ALTER TABLE public.habilidad_perfil OWNER TO postgres;

--
-- Name: imagen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.imagen (
    id_imagen bigint NOT NULL,
    url character varying(1024) NOT NULL,
    estado character varying(20),
    nombre_archivo character varying(150) NOT NULL,
    tipo_imagen character varying(20) NOT NULL,
    tamano_bytes integer NOT NULL,
    fecha_subida timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.imagen OWNER TO postgres;

--
-- Name: imagen_id_imagen_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.imagen_id_imagen_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.imagen_id_imagen_seq OWNER TO postgres;

--
-- Name: imagen_id_imagen_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.imagen_id_imagen_seq OWNED BY public.imagen.id_imagen;


--
-- Name: imagen_moodboard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.imagen_moodboard (
    id_imagen bigint NOT NULL,
    id_moodboard bigint NOT NULL
);


ALTER TABLE public.imagen_moodboard OWNER TO postgres;

--
-- Name: invitacion_actividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitacion_actividad (
    id_invitacion bigint NOT NULL,
    mensaje character varying(200),
    fecha_envio timestamp without time zone DEFAULT now() NOT NULL,
    estado character varying(20) DEFAULT 'Pendiente'::character varying NOT NULL,
    id_perfil_remitente bigint NOT NULL,
    id_perfil_destinatario bigint NOT NULL,
    id_requerimiento bigint NOT NULL,
    CONSTRAINT chk_invitacion_act_estado CHECK (((estado)::text = ANY ((ARRAY['Pendiente'::character varying, 'Aceptada'::character varying, 'Rechazada'::character varying])::text[]))),
    CONSTRAINT chk_invitacion_act_no_autoinvitacion CHECK ((id_perfil_remitente <> id_perfil_destinatario))
);


ALTER TABLE public.invitacion_actividad OWNER TO postgres;

--
-- Name: invitacion_actividad_id_invitacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invitacion_actividad_id_invitacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitacion_actividad_id_invitacion_seq OWNER TO postgres;

--
-- Name: invitacion_actividad_id_invitacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invitacion_actividad_id_invitacion_seq OWNED BY public.invitacion_actividad.id_invitacion;


--
-- Name: invitacion_gral; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitacion_gral (
    id_invitacion_gral bigint NOT NULL,
    mensaje character varying(200),
    fecha_envio timestamp without time zone DEFAULT now() NOT NULL,
    estado character varying(20) DEFAULT 'Pendiente'::character varying NOT NULL,
    id_perfil_remitente bigint NOT NULL,
    id_perfil_destinatario bigint NOT NULL,
    id_requerimiento_gral bigint NOT NULL,
    CONSTRAINT chk_invitacion_gral_estado CHECK (((estado)::text = ANY ((ARRAY['Pendiente'::character varying, 'Aceptada'::character varying, 'Rechazada'::character varying])::text[]))),
    CONSTRAINT chk_invitacion_gral_no_autoinvitacion CHECK ((id_perfil_remitente <> id_perfil_destinatario))
);


ALTER TABLE public.invitacion_gral OWNER TO postgres;

--
-- Name: invitacion_gral_id_invitacion_gral_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invitacion_gral_id_invitacion_gral_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitacion_gral_id_invitacion_gral_seq OWNER TO postgres;

--
-- Name: invitacion_gral_id_invitacion_gral_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invitacion_gral_id_invitacion_gral_seq OWNED BY public.invitacion_gral.id_invitacion_gral;


--
-- Name: jornada_agenda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jornada_agenda (
    id_jornada bigint NOT NULL,
    dia_semana integer NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    id_agenda bigint NOT NULL,
    CONSTRAINT chk_jornada_dia_semana CHECK (((dia_semana >= 1) AND (dia_semana <= 7))),
    CONSTRAINT chk_jornada_rango CHECK ((hora_fin > hora_inicio))
);


ALTER TABLE public.jornada_agenda OWNER TO postgres;

--
-- Name: jornada_agenda_id_jornada_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jornada_agenda_id_jornada_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jornada_agenda_id_jornada_seq OWNER TO postgres;

--
-- Name: jornada_agenda_id_jornada_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jornada_agenda_id_jornada_seq OWNED BY public.jornada_agenda.id_jornada;


--
-- Name: miembros_proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.miembros_proyecto (
    id_miembro bigint NOT NULL,
    estado_participacion character varying(30) DEFAULT 'Activo'::character varying NOT NULL,
    id_proyecto bigint NOT NULL,
    id_perfil bigint NOT NULL,
    id_rol_proyecto bigint NOT NULL,
    CONSTRAINT chk_estado_participacion CHECK (((estado_participacion)::text = ANY ((ARRAY['Activo'::character varying, 'BajaVoluntaria'::character varying, 'Eliminado'::character varying])::text[])))
);


ALTER TABLE public.miembros_proyecto OWNER TO postgres;

--
-- Name: miembros_proyecto_id_miembro_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.miembros_proyecto_id_miembro_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.miembros_proyecto_id_miembro_seq OWNER TO postgres;

--
-- Name: miembros_proyecto_id_miembro_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.miembros_proyecto_id_miembro_seq OWNED BY public.miembros_proyecto.id_miembro;


--
-- Name: moodboard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.moodboard (
    id_moodboard bigint NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL,
    descripcion character varying(300),
    id_proyecto bigint NOT NULL
);


ALTER TABLE public.moodboard OWNER TO postgres;

--
-- Name: moodboard_id_moodboard_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.moodboard_id_moodboard_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.moodboard_id_moodboard_seq OWNER TO postgres;

--
-- Name: moodboard_id_moodboard_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.moodboard_id_moodboard_seq OWNED BY public.moodboard.id_moodboard;


--
-- Name: objetivo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objetivo (
    id_objetivo bigint NOT NULL,
    nombre character varying(100),
    descripcion character varying(300),
    id_proyecto bigint NOT NULL
);


ALTER TABLE public.objetivo OWNER TO postgres;

--
-- Name: objetivo_id_objetivo_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.objetivo_id_objetivo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.objetivo_id_objetivo_seq OWNER TO postgres;

--
-- Name: objetivo_id_objetivo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.objetivo_id_objetivo_seq OWNED BY public.objetivo.id_objetivo;


--
-- Name: perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perfil (
    id_perfil bigint NOT NULL,
    nombre_artistico character varying(50) NOT NULL,
    biografia character varying(500) NOT NULL,
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    fecha_solicitud_baja timestamp without time zone,
    id_usuario bigint NOT NULL,
    id_profesion bigint NOT NULL,
    id_imagen bigint,
    CONSTRAINT chk_perfil_biografia_len CHECK (((char_length(TRIM(BOTH FROM biografia)) >= 1) AND (char_length(TRIM(BOTH FROM biografia)) <= 500))),
    CONSTRAINT chk_perfil_estado CHECK (((estado)::text = ANY ((ARRAY['Activo'::character varying, 'PendienteBaja'::character varying, 'Baja'::character varying])::text[]))),
    CONSTRAINT chk_perfil_nombre_artistico_len CHECK (((char_length(TRIM(BOTH FROM nombre_artistico)) >= 2) AND (char_length(TRIM(BOTH FROM nombre_artistico)) <= 50)))
);


ALTER TABLE public.perfil OWNER TO postgres;

--
-- Name: perfil_id_perfil_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perfil_id_perfil_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.perfil_id_perfil_seq OWNER TO postgres;

--
-- Name: perfil_id_perfil_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perfil_id_perfil_seq OWNED BY public.perfil.id_perfil;


--
-- Name: permiso_global; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permiso_global (
    id_permiso_global bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.permiso_global OWNER TO postgres;

--
-- Name: permiso_global_id_permiso_global_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permiso_global_id_permiso_global_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permiso_global_id_permiso_global_seq OWNER TO postgres;

--
-- Name: permiso_global_id_permiso_global_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permiso_global_id_permiso_global_seq OWNED BY public.permiso_global.id_permiso_global;


--
-- Name: permiso_proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permiso_proyecto (
    id_permiso_proyecto bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.permiso_proyecto OWNER TO postgres;

--
-- Name: permiso_proyecto_id_permiso_proyecto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permiso_proyecto_id_permiso_proyecto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permiso_proyecto_id_permiso_proyecto_seq OWNER TO postgres;

--
-- Name: permiso_proyecto_id_permiso_proyecto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permiso_proyecto_id_permiso_proyecto_seq OWNED BY public.permiso_proyecto.id_permiso_proyecto;


--
-- Name: planificacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planificacion (
    id_planificacion bigint NOT NULL,
    fecha_entrega date,
    id_proyecto bigint NOT NULL
);


ALTER TABLE public.planificacion OWNER TO postgres;

--
-- Name: planificacion_id_planificacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.planificacion_id_planificacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planificacion_id_planificacion_seq OWNER TO postgres;

--
-- Name: planificacion_id_planificacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.planificacion_id_planificacion_seq OWNED BY public.planificacion.id_planificacion;


--
-- Name: postulacion_actividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postulacion_actividad (
    id_postulacion bigint NOT NULL,
    fecha_postulacion timestamp without time zone DEFAULT now() NOT NULL,
    estado character varying(20) DEFAULT 'Pendiente'::character varying NOT NULL,
    id_perfil bigint NOT NULL,
    id_requerimiento bigint NOT NULL,
    CONSTRAINT chk_postulacion_act_estado CHECK (((estado)::text = ANY ((ARRAY['Pendiente'::character varying, 'Aceptada'::character varying, 'Rechazada'::character varying])::text[])))
);


ALTER TABLE public.postulacion_actividad OWNER TO postgres;

--
-- Name: postulacion_actividad_id_postulacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.postulacion_actividad_id_postulacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.postulacion_actividad_id_postulacion_seq OWNER TO postgres;

--
-- Name: postulacion_actividad_id_postulacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.postulacion_actividad_id_postulacion_seq OWNED BY public.postulacion_actividad.id_postulacion;


--
-- Name: postulacion_gral; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postulacion_gral (
    id_postulacion_gral bigint NOT NULL,
    fecha_postulacion timestamp without time zone DEFAULT now() NOT NULL,
    estado character varying(20) DEFAULT 'Pendiente'::character varying NOT NULL,
    id_perfil bigint NOT NULL,
    id_requerimiento_gral bigint NOT NULL,
    CONSTRAINT chk_postulacion_gral_estado CHECK (((estado)::text = ANY ((ARRAY['Pendiente'::character varying, 'Aceptada'::character varying, 'Rechazada'::character varying])::text[])))
);


ALTER TABLE public.postulacion_gral OWNER TO postgres;

--
-- Name: postulacion_gral_id_postulacion_gral_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.postulacion_gral_id_postulacion_gral_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.postulacion_gral_id_postulacion_gral_seq OWNER TO postgres;

--
-- Name: postulacion_gral_id_postulacion_gral_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.postulacion_gral_id_postulacion_gral_seq OWNED BY public.postulacion_gral.id_postulacion_gral;


--
-- Name: profesion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profesion (
    id_profesion bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(200)
);


ALTER TABLE public.profesion OWNER TO postgres;

--
-- Name: profesion_id_profesion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profesion_id_profesion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profesion_id_profesion_seq OWNER TO postgres;

--
-- Name: profesion_id_profesion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profesion_id_profesion_seq OWNED BY public.profesion.id_profesion;


--
-- Name: proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto (
    id_proyecto bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(200) NOT NULL,
    fecha_inicio date NOT NULL,
    estado character varying(20) DEFAULT 'Borrador'::character varying NOT NULL,
    privacidad character varying(20) NOT NULL,
    acepta_postulacion_gral boolean DEFAULT false NOT NULL,
    id_ubicacion bigint,
    CONSTRAINT chk_proyecto_estado CHECK (((estado)::text = ANY ((ARRAY['Borrador'::character varying, 'Publicado'::character varying, 'Confirmado'::character varying, 'Finalizado'::character varying, 'Cancelado'::character varying])::text[]))),
    CONSTRAINT chk_proyecto_privacidad CHECK (((privacidad)::text = ANY ((ARRAY['Publico'::character varying, 'Privado'::character varying, 'Oculto'::character varying])::text[])))
);


ALTER TABLE public.proyecto OWNER TO postgres;

--
-- Name: proyecto_id_proyecto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.proyecto_id_proyecto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.proyecto_id_proyecto_seq OWNER TO postgres;

--
-- Name: proyecto_id_proyecto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.proyecto_id_proyecto_seq OWNED BY public.proyecto.id_proyecto;


--
-- Name: requerimiento_act_caract; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_act_caract (
    id_requerimiento bigint NOT NULL,
    id_caracteristica bigint NOT NULL
);


ALTER TABLE public.requerimiento_act_caract OWNER TO postgres;

--
-- Name: requerimiento_act_habilidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_act_habilidad (
    id_requerimiento bigint NOT NULL,
    id_habilidad bigint NOT NULL
);


ALTER TABLE public.requerimiento_act_habilidad OWNER TO postgres;

--
-- Name: requerimiento_actividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_actividad (
    id_requerimiento bigint NOT NULL,
    cantidad integer NOT NULL,
    descripcion character varying(200),
    id_profesion bigint NOT NULL,
    id_actividad bigint NOT NULL,
    CONSTRAINT chk_requerimiento_act_cantidad CHECK ((cantidad > 0))
);


ALTER TABLE public.requerimiento_actividad OWNER TO postgres;

--
-- Name: requerimiento_actividad_id_requerimiento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.requerimiento_actividad_id_requerimiento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requerimiento_actividad_id_requerimiento_seq OWNER TO postgres;

--
-- Name: requerimiento_actividad_id_requerimiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.requerimiento_actividad_id_requerimiento_seq OWNED BY public.requerimiento_actividad.id_requerimiento;


--
-- Name: requerimiento_gral_caract; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_gral_caract (
    id_requerimiento_gral bigint NOT NULL,
    id_caracteristica bigint NOT NULL
);


ALTER TABLE public.requerimiento_gral_caract OWNER TO postgres;

--
-- Name: requerimiento_gral_habilidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_gral_habilidad (
    id_requerimiento_gral bigint NOT NULL,
    id_habilidad bigint NOT NULL
);


ALTER TABLE public.requerimiento_gral_habilidad OWNER TO postgres;

--
-- Name: requerimiento_gral_proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.requerimiento_gral_proyecto (
    id_requerimiento_gral bigint NOT NULL,
    cantidad integer NOT NULL,
    descripcion character varying(200),
    id_proyecto bigint NOT NULL,
    id_profesion bigint NOT NULL,
    CONSTRAINT chk_requerimiento_gral_cantidad CHECK ((cantidad > 0))
);


ALTER TABLE public.requerimiento_gral_proyecto OWNER TO postgres;

--
-- Name: requerimiento_gral_proyecto_id_requerimiento_gral_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.requerimiento_gral_proyecto_id_requerimiento_gral_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requerimiento_gral_proyecto_id_requerimiento_gral_seq OWNER TO postgres;

--
-- Name: requerimiento_gral_proyecto_id_requerimiento_gral_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.requerimiento_gral_proyecto_id_requerimiento_gral_seq OWNED BY public.requerimiento_gral_proyecto.id_requerimiento_gral;


--
-- Name: rol_global; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_global (
    id_rol_global bigint NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.rol_global OWNER TO postgres;

--
-- Name: rol_global_id_rol_global_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_global_id_rol_global_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_global_id_rol_global_seq OWNER TO postgres;

--
-- Name: rol_global_id_rol_global_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_global_id_rol_global_seq OWNED BY public.rol_global.id_rol_global;


--
-- Name: rol_global_permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_global_permiso (
    id_rol_global bigint NOT NULL,
    id_permiso_global bigint NOT NULL
);


ALTER TABLE public.rol_global_permiso OWNER TO postgres;

--
-- Name: rol_proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_proyecto (
    id_rol_proyecto bigint NOT NULL,
    nombre character varying(20) NOT NULL
);


ALTER TABLE public.rol_proyecto OWNER TO postgres;

--
-- Name: rol_proyecto_id_rol_proyecto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_proyecto_id_rol_proyecto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_proyecto_id_rol_proyecto_seq OWNER TO postgres;

--
-- Name: rol_proyecto_id_rol_proyecto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_proyecto_id_rol_proyecto_seq OWNED BY public.rol_proyecto.id_rol_proyecto;


--
-- Name: rol_proyecto_permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_proyecto_permiso (
    id_rol_proyecto bigint NOT NULL,
    id_permiso_proyecto bigint NOT NULL
);


ALTER TABLE public.rol_proyecto_permiso OWNER TO postgres;

--
-- Name: ubicacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ubicacion (
    id_ubicacion bigint NOT NULL,
    localidad character varying(100) NOT NULL,
    pais character varying(50),
    provincia character varying(100) NOT NULL,
    codigo_postal character varying(10),
    latitud numeric(10,8),
    longitud numeric(11,8),
    id_georef character varying(20)
);


ALTER TABLE public.ubicacion OWNER TO postgres;

--
-- Name: ubicacion_id_ubicacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ubicacion_id_ubicacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ubicacion_id_ubicacion_seq OWNER TO postgres;

--
-- Name: ubicacion_id_ubicacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ubicacion_id_ubicacion_seq OWNED BY public.ubicacion.id_ubicacion;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id_usuario bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50) NOT NULL,
    dni character varying(15) NOT NULL,
    fecha_nacimiento date NOT NULL,
    correo character varying(255) NOT NULL,
    password_hash character varying(255),
    proveedor_auth character varying(20) DEFAULT 'LOCAL'::character varying NOT NULL,
    id_externo character varying(100),
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    fecha_solicitud_baja timestamp without time zone,
    id_ubicacion bigint,
    id_rol_global bigint NOT NULL,
    id_genero bigint NOT NULL,
    motivo_deshabilitacion character varying(200),
    fecha_hasta_deshabilitacion timestamp without time zone,
    CONSTRAINT chk_usuario_apellido_len CHECK ((char_length(TRIM(BOTH FROM apellido)) >= 2)),
    CONSTRAINT chk_usuario_edad_minima CHECK ((fecha_nacimiento <= (CURRENT_DATE - '18 years'::interval))),
    CONSTRAINT chk_usuario_estado CHECK (((estado)::text = ANY ((ARRAY['Activo'::character varying, 'Deshabilitado'::character varying, 'PendienteBaja'::character varying, 'Baja'::character varying])::text[]))),
    CONSTRAINT chk_usuario_nombre_len CHECK ((char_length(TRIM(BOTH FROM nombre)) >= 2)),
    CONSTRAINT chk_usuario_proveedor CHECK (((proveedor_auth)::text = ANY ((ARRAY['LOCAL'::character varying, 'GOOGLE'::character varying])::text[])))
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_usuario_seq OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: valor_caracteristica; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.valor_caracteristica (
    id_valor bigint NOT NULL,
    id_caracteristica bigint NOT NULL,
    codigo character varying(50) NOT NULL,
    color_hex character varying(7),
    CONSTRAINT chk_valor_caracteristica_color_hex CHECK (((color_hex IS NULL) OR ((color_hex)::text ~ '^#[0-9A-Fa-f]{6}$'::text)))
);


ALTER TABLE public.valor_caracteristica OWNER TO postgres;

--
-- Name: valor_caracteristica_id_valor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.valor_caracteristica_id_valor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.valor_caracteristica_id_valor_seq OWNER TO postgres;

--
-- Name: valor_caracteristica_id_valor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.valor_caracteristica_id_valor_seq OWNED BY public.valor_caracteristica.id_valor;


--
-- Name: actividad id_actividad; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividad ALTER COLUMN id_actividad SET DEFAULT nextval('public.actividad_id_actividad_seq'::regclass);


--
-- Name: agenda id_agenda; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda ALTER COLUMN id_agenda SET DEFAULT nextval('public.agenda_id_agenda_seq'::regclass);


--
-- Name: asignacion_actividad id_asignacion_act; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignacion_actividad ALTER COLUMN id_asignacion_act SET DEFAULT nextval('public.asignacion_actividad_id_asignacion_act_seq'::regclass);


--
-- Name: bloqueo_agenda id_bloqueo; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bloqueo_agenda ALTER COLUMN id_bloqueo SET DEFAULT nextval('public.bloqueo_agenda_id_bloqueo_seq'::regclass);


--
-- Name: caracteristica_tecnica id_caracteristica; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_tecnica ALTER COLUMN id_caracteristica SET DEFAULT nextval('public.caracteristica_tecnica_id_caracteristica_seq'::regclass);


--
-- Name: genero id_genero; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genero ALTER COLUMN id_genero SET DEFAULT nextval('public.genero_id_genero_seq'::regclass);


--
-- Name: habilidad id_habilidad; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad ALTER COLUMN id_habilidad SET DEFAULT nextval('public.habilidad_id_habilidad_seq'::regclass);


--
-- Name: imagen id_imagen; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagen ALTER COLUMN id_imagen SET DEFAULT nextval('public.imagen_id_imagen_seq'::regclass);


--
-- Name: invitacion_actividad id_invitacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_actividad ALTER COLUMN id_invitacion SET DEFAULT nextval('public.invitacion_actividad_id_invitacion_seq'::regclass);


--
-- Name: invitacion_gral id_invitacion_gral; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_gral ALTER COLUMN id_invitacion_gral SET DEFAULT nextval('public.invitacion_gral_id_invitacion_gral_seq'::regclass);


--
-- Name: jornada_agenda id_jornada; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jornada_agenda ALTER COLUMN id_jornada SET DEFAULT nextval('public.jornada_agenda_id_jornada_seq'::regclass);


--
-- Name: miembros_proyecto id_miembro; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto ALTER COLUMN id_miembro SET DEFAULT nextval('public.miembros_proyecto_id_miembro_seq'::regclass);


--
-- Name: moodboard id_moodboard; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.moodboard ALTER COLUMN id_moodboard SET DEFAULT nextval('public.moodboard_id_moodboard_seq'::regclass);


--
-- Name: objetivo id_objetivo; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetivo ALTER COLUMN id_objetivo SET DEFAULT nextval('public.objetivo_id_objetivo_seq'::regclass);


--
-- Name: perfil id_perfil; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil ALTER COLUMN id_perfil SET DEFAULT nextval('public.perfil_id_perfil_seq'::regclass);


--
-- Name: permiso_global id_permiso_global; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_global ALTER COLUMN id_permiso_global SET DEFAULT nextval('public.permiso_global_id_permiso_global_seq'::regclass);


--
-- Name: permiso_proyecto id_permiso_proyecto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_proyecto ALTER COLUMN id_permiso_proyecto SET DEFAULT nextval('public.permiso_proyecto_id_permiso_proyecto_seq'::regclass);


--
-- Name: planificacion id_planificacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planificacion ALTER COLUMN id_planificacion SET DEFAULT nextval('public.planificacion_id_planificacion_seq'::regclass);


--
-- Name: postulacion_actividad id_postulacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_actividad ALTER COLUMN id_postulacion SET DEFAULT nextval('public.postulacion_actividad_id_postulacion_seq'::regclass);


--
-- Name: postulacion_gral id_postulacion_gral; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_gral ALTER COLUMN id_postulacion_gral SET DEFAULT nextval('public.postulacion_gral_id_postulacion_gral_seq'::regclass);


--
-- Name: profesion id_profesion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profesion ALTER COLUMN id_profesion SET DEFAULT nextval('public.profesion_id_profesion_seq'::regclass);


--
-- Name: proyecto id_proyecto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto ALTER COLUMN id_proyecto SET DEFAULT nextval('public.proyecto_id_proyecto_seq'::regclass);


--
-- Name: requerimiento_actividad id_requerimiento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_actividad ALTER COLUMN id_requerimiento SET DEFAULT nextval('public.requerimiento_actividad_id_requerimiento_seq'::regclass);


--
-- Name: requerimiento_gral_proyecto id_requerimiento_gral; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_proyecto ALTER COLUMN id_requerimiento_gral SET DEFAULT nextval('public.requerimiento_gral_proyecto_id_requerimiento_gral_seq'::regclass);


--
-- Name: rol_global id_rol_global; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global ALTER COLUMN id_rol_global SET DEFAULT nextval('public.rol_global_id_rol_global_seq'::regclass);


--
-- Name: rol_proyecto id_rol_proyecto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto ALTER COLUMN id_rol_proyecto SET DEFAULT nextval('public.rol_proyecto_id_rol_proyecto_seq'::regclass);


--
-- Name: ubicacion id_ubicacion; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion ALTER COLUMN id_ubicacion SET DEFAULT nextval('public.ubicacion_id_ubicacion_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Name: valor_caracteristica id_valor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.valor_caracteristica ALTER COLUMN id_valor SET DEFAULT nextval('public.valor_caracteristica_id_valor_seq'::regclass);


--
-- Name: actividad actividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividad
    ADD CONSTRAINT actividad_pkey PRIMARY KEY (id_actividad);


--
-- Name: agenda agenda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_pkey PRIMARY KEY (id_agenda);


--
-- Name: asignacion_actividad asignacion_actividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignacion_actividad
    ADD CONSTRAINT asignacion_actividad_pkey PRIMARY KEY (id_asignacion_act);


--
-- Name: bloqueo_agenda bloqueo_agenda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bloqueo_agenda
    ADD CONSTRAINT bloqueo_agenda_pkey PRIMARY KEY (id_bloqueo);


--
-- Name: caracteristica_perfil caracteristica_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_perfil
    ADD CONSTRAINT caracteristica_perfil_pkey PRIMARY KEY (id_perfil, id_caracteristica);


--
-- Name: caracteristica_tecnica caracteristica_tecnica_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_tecnica
    ADD CONSTRAINT caracteristica_tecnica_pkey PRIMARY KEY (id_caracteristica);


--
-- Name: dependencia_actividades dependencia_actividades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dependencia_actividades
    ADD CONSTRAINT dependencia_actividades_pkey PRIMARY KEY (id_actividad_predecesora, id_actividad_sucesora);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: genero genero_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genero
    ADD CONSTRAINT genero_pkey PRIMARY KEY (id_genero);


--
-- Name: habilidad_perfil habilidad_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad_perfil
    ADD CONSTRAINT habilidad_perfil_pkey PRIMARY KEY (id_perfil, id_habilidad);


--
-- Name: habilidad habilidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad
    ADD CONSTRAINT habilidad_pkey PRIMARY KEY (id_habilidad);


--
-- Name: imagen_moodboard imagen_moodboard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagen_moodboard
    ADD CONSTRAINT imagen_moodboard_pkey PRIMARY KEY (id_imagen, id_moodboard);


--
-- Name: imagen imagen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagen
    ADD CONSTRAINT imagen_pkey PRIMARY KEY (id_imagen);


--
-- Name: invitacion_actividad invitacion_actividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_actividad
    ADD CONSTRAINT invitacion_actividad_pkey PRIMARY KEY (id_invitacion);


--
-- Name: invitacion_gral invitacion_gral_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_gral
    ADD CONSTRAINT invitacion_gral_pkey PRIMARY KEY (id_invitacion_gral);


--
-- Name: jornada_agenda jornada_agenda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jornada_agenda
    ADD CONSTRAINT jornada_agenda_pkey PRIMARY KEY (id_jornada);


--
-- Name: miembros_proyecto miembros_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto
    ADD CONSTRAINT miembros_proyecto_pkey PRIMARY KEY (id_miembro);


--
-- Name: moodboard moodboard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.moodboard
    ADD CONSTRAINT moodboard_pkey PRIMARY KEY (id_moodboard);


--
-- Name: objetivo objetivo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetivo
    ADD CONSTRAINT objetivo_pkey PRIMARY KEY (id_objetivo);


--
-- Name: perfil perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_pkey PRIMARY KEY (id_perfil);


--
-- Name: permiso_global permiso_global_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_global
    ADD CONSTRAINT permiso_global_pkey PRIMARY KEY (id_permiso_global);


--
-- Name: permiso_proyecto permiso_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_proyecto
    ADD CONSTRAINT permiso_proyecto_pkey PRIMARY KEY (id_permiso_proyecto);


--
-- Name: planificacion planificacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planificacion
    ADD CONSTRAINT planificacion_pkey PRIMARY KEY (id_planificacion);


--
-- Name: postulacion_actividad postulacion_actividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_actividad
    ADD CONSTRAINT postulacion_actividad_pkey PRIMARY KEY (id_postulacion);


--
-- Name: postulacion_gral postulacion_gral_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_gral
    ADD CONSTRAINT postulacion_gral_pkey PRIMARY KEY (id_postulacion_gral);


--
-- Name: profesion profesion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profesion
    ADD CONSTRAINT profesion_pkey PRIMARY KEY (id_profesion);


--
-- Name: proyecto proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto
    ADD CONSTRAINT proyecto_pkey PRIMARY KEY (id_proyecto);


--
-- Name: requerimiento_act_caract requerimiento_act_caract_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_caract
    ADD CONSTRAINT requerimiento_act_caract_pkey PRIMARY KEY (id_requerimiento, id_caracteristica);


--
-- Name: requerimiento_act_habilidad requerimiento_act_habilidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_habilidad
    ADD CONSTRAINT requerimiento_act_habilidad_pkey PRIMARY KEY (id_requerimiento, id_habilidad);


--
-- Name: requerimiento_actividad requerimiento_actividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_actividad
    ADD CONSTRAINT requerimiento_actividad_pkey PRIMARY KEY (id_requerimiento);


--
-- Name: requerimiento_gral_caract requerimiento_gral_caract_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_caract
    ADD CONSTRAINT requerimiento_gral_caract_pkey PRIMARY KEY (id_requerimiento_gral, id_caracteristica);


--
-- Name: requerimiento_gral_habilidad requerimiento_gral_habilidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_habilidad
    ADD CONSTRAINT requerimiento_gral_habilidad_pkey PRIMARY KEY (id_requerimiento_gral, id_habilidad);


--
-- Name: requerimiento_gral_proyecto requerimiento_gral_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_proyecto
    ADD CONSTRAINT requerimiento_gral_proyecto_pkey PRIMARY KEY (id_requerimiento_gral);


--
-- Name: rol_global_permiso rol_global_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global_permiso
    ADD CONSTRAINT rol_global_permiso_pkey PRIMARY KEY (id_rol_global, id_permiso_global);


--
-- Name: rol_global rol_global_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global
    ADD CONSTRAINT rol_global_pkey PRIMARY KEY (id_rol_global);


--
-- Name: rol_proyecto_permiso rol_proyecto_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto_permiso
    ADD CONSTRAINT rol_proyecto_permiso_pkey PRIMARY KEY (id_rol_proyecto, id_permiso_proyecto);


--
-- Name: rol_proyecto rol_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto
    ADD CONSTRAINT rol_proyecto_pkey PRIMARY KEY (id_rol_proyecto);


--
-- Name: ubicacion ubicacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT ubicacion_pkey PRIMARY KEY (id_ubicacion);


--
-- Name: agenda uq_agenda_usuario; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT uq_agenda_usuario UNIQUE (id_usuario);


--
-- Name: asignacion_actividad uq_asignacion_miembro_actividad; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignacion_actividad
    ADD CONSTRAINT uq_asignacion_miembro_actividad UNIQUE (id_miembro, id_actividad);


--
-- Name: genero uq_genero_codigo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genero
    ADD CONSTRAINT uq_genero_codigo UNIQUE (codigo);


--
-- Name: habilidad uq_habilidad_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad
    ADD CONSTRAINT uq_habilidad_nombre UNIQUE (nombre);


--
-- Name: jornada_agenda uq_jornada_agenda_dia; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jornada_agenda
    ADD CONSTRAINT uq_jornada_agenda_dia UNIQUE (id_agenda, dia_semana);


--
-- Name: miembros_proyecto uq_miembro_proyecto_perfil; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto
    ADD CONSTRAINT uq_miembro_proyecto_perfil UNIQUE (id_proyecto, id_perfil);


--
-- Name: moodboard uq_moodboard_proyecto; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.moodboard
    ADD CONSTRAINT uq_moodboard_proyecto UNIQUE (id_proyecto);


--
-- Name: permiso_global uq_permiso_global_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_global
    ADD CONSTRAINT uq_permiso_global_nombre UNIQUE (nombre);


--
-- Name: permiso_proyecto uq_permiso_proyecto_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso_proyecto
    ADD CONSTRAINT uq_permiso_proyecto_nombre UNIQUE (nombre);


--
-- Name: planificacion uq_planificacion_proyecto; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planificacion
    ADD CONSTRAINT uq_planificacion_proyecto UNIQUE (id_proyecto);


--
-- Name: postulacion_actividad uq_postulacion_act_perfil_req; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_actividad
    ADD CONSTRAINT uq_postulacion_act_perfil_req UNIQUE (id_perfil, id_requerimiento);


--
-- Name: postulacion_gral uq_postulacion_gral_perfil_req; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_gral
    ADD CONSTRAINT uq_postulacion_gral_perfil_req UNIQUE (id_perfil, id_requerimiento_gral);


--
-- Name: profesion uq_profesion_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profesion
    ADD CONSTRAINT uq_profesion_nombre UNIQUE (nombre);


--
-- Name: rol_global uq_rol_global_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global
    ADD CONSTRAINT uq_rol_global_nombre UNIQUE (nombre);


--
-- Name: rol_proyecto uq_rol_proyecto_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto
    ADD CONSTRAINT uq_rol_proyecto_nombre UNIQUE (nombre);


--
-- Name: usuario uq_usuario_correo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uq_usuario_correo UNIQUE (correo);


--
-- Name: usuario uq_usuario_dni; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uq_usuario_dni UNIQUE (dni);


--
-- Name: valor_caracteristica uq_valor_caracteristica_codigo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.valor_caracteristica
    ADD CONSTRAINT uq_valor_caracteristica_codigo UNIQUE (id_caracteristica, codigo);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: valor_caracteristica valor_caracteristica_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.valor_caracteristica
    ADD CONSTRAINT valor_caracteristica_pkey PRIMARY KEY (id_valor);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_bloqueo_agenda_rango; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bloqueo_agenda_rango ON public.bloqueo_agenda USING btree (fecha_hora_inicio, fecha_hora_fin);


--
-- Name: idx_usuario_deshabilitacion_vencida; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuario_deshabilitacion_vencida ON public.usuario USING btree (fecha_hasta_deshabilitacion) WHERE ((estado)::text = 'Deshabilitado'::text);


--
-- Name: uq_invitacion_act_pendiente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_invitacion_act_pendiente ON public.invitacion_actividad USING btree (id_perfil_destinatario, id_requerimiento) WHERE ((estado)::text = 'Pendiente'::text);


--
-- Name: uq_invitacion_gral_pendiente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_invitacion_gral_pendiente ON public.invitacion_gral USING btree (id_perfil_destinatario, id_requerimiento_gral) WHERE ((estado)::text = 'Pendiente'::text);


--
-- Name: usuario trg_agenda_crear; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_agenda_crear AFTER INSERT ON public.usuario FOR EACH ROW EXECUTE FUNCTION public.fn_crear_agenda();


--
-- Name: bloqueo_agenda trg_bloqueo_no_liberar_actividad; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_bloqueo_no_liberar_actividad BEFORE DELETE ON public.bloqueo_agenda FOR EACH ROW EXECUTE FUNCTION public.fn_validar_bloqueo_no_actividad();


--
-- Name: bloqueo_agenda trg_bloqueo_no_solape; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_bloqueo_no_solape BEFORE INSERT OR UPDATE ON public.bloqueo_agenda FOR EACH ROW EXECUTE FUNCTION public.fn_validar_solape_bloqueo();


--
-- Name: caracteristica_perfil trg_caracteristica_perfil_valor; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_caracteristica_perfil_valor BEFORE INSERT OR UPDATE ON public.caracteristica_perfil FOR EACH ROW EXECUTE FUNCTION public.chk_caracteristica_perfil_valor();


--
-- Name: caracteristica_perfil trg_caracteristica_tecnica_de_profesion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_caracteristica_tecnica_de_profesion BEFORE INSERT OR UPDATE ON public.caracteristica_perfil FOR EACH ROW EXECUTE FUNCTION public.chk_caracteristica_tecnica_de_profesion();


--
-- Name: caracteristica_perfil trg_caracteristica_valor_no_negativo; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_caracteristica_valor_no_negativo BEFORE INSERT OR UPDATE ON public.caracteristica_perfil FOR EACH ROW EXECUTE FUNCTION public.chk_caracteristica_valor_no_negativo();


--
-- Name: perfil trg_perfil_fecha_solicitud_baja; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_perfil_fecha_solicitud_baja BEFORE UPDATE ON public.perfil FOR EACH ROW EXECUTE FUNCTION public.chk_perfil_fecha_solicitud_baja();


--
-- Name: perfil trg_perfil_no_cambiar_profesion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_perfil_no_cambiar_profesion BEFORE UPDATE ON public.perfil FOR EACH ROW EXECUTE FUNCTION public.chk_perfil_no_cambiar_profesion();


--
-- Name: perfil trg_perfil_unico_por_profesion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_perfil_unico_por_profesion BEFORE INSERT ON public.perfil FOR EACH ROW EXECUTE FUNCTION public.chk_perfil_unico_por_profesion();


--
-- Name: usuario trg_usuario_dni_no_negativo; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_usuario_dni_no_negativo BEFORE INSERT OR UPDATE ON public.usuario FOR EACH ROW EXECUTE FUNCTION public.chk_usuario_dni_no_negativo();


--
-- Name: actividad actividad_id_planificacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividad
    ADD CONSTRAINT actividad_id_planificacion_fkey FOREIGN KEY (id_planificacion) REFERENCES public.planificacion(id_planificacion);


--
-- Name: actividad actividad_id_ubicacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividad
    ADD CONSTRAINT actividad_id_ubicacion_fkey FOREIGN KEY (id_ubicacion) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: agenda agenda_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: asignacion_actividad asignacion_actividad_id_actividad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignacion_actividad
    ADD CONSTRAINT asignacion_actividad_id_actividad_fkey FOREIGN KEY (id_actividad) REFERENCES public.actividad(id_actividad);


--
-- Name: asignacion_actividad asignacion_actividad_id_miembro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asignacion_actividad
    ADD CONSTRAINT asignacion_actividad_id_miembro_fkey FOREIGN KEY (id_miembro) REFERENCES public.miembros_proyecto(id_miembro);


--
-- Name: bloqueo_agenda bloqueo_agenda_id_agenda_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bloqueo_agenda
    ADD CONSTRAINT bloqueo_agenda_id_agenda_fkey FOREIGN KEY (id_agenda) REFERENCES public.agenda(id_agenda);


--
-- Name: caracteristica_perfil caracteristica_perfil_id_caracteristica_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_perfil
    ADD CONSTRAINT caracteristica_perfil_id_caracteristica_fkey FOREIGN KEY (id_caracteristica) REFERENCES public.caracteristica_tecnica(id_caracteristica);


--
-- Name: caracteristica_perfil caracteristica_perfil_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_perfil
    ADD CONSTRAINT caracteristica_perfil_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- Name: caracteristica_perfil caracteristica_perfil_id_valor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_perfil
    ADD CONSTRAINT caracteristica_perfil_id_valor_fkey FOREIGN KEY (id_valor) REFERENCES public.valor_caracteristica(id_valor);


--
-- Name: caracteristica_tecnica caracteristica_tecnica_id_profesion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caracteristica_tecnica
    ADD CONSTRAINT caracteristica_tecnica_id_profesion_fkey FOREIGN KEY (id_profesion) REFERENCES public.profesion(id_profesion);


--
-- Name: dependencia_actividades dependencia_actividades_id_actividad_predecesora_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dependencia_actividades
    ADD CONSTRAINT dependencia_actividades_id_actividad_predecesora_fkey FOREIGN KEY (id_actividad_predecesora) REFERENCES public.actividad(id_actividad);


--
-- Name: dependencia_actividades dependencia_actividades_id_actividad_sucesora_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dependencia_actividades
    ADD CONSTRAINT dependencia_actividades_id_actividad_sucesora_fkey FOREIGN KEY (id_actividad_sucesora) REFERENCES public.actividad(id_actividad);


--
-- Name: habilidad_perfil habilidad_perfil_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad_perfil
    ADD CONSTRAINT habilidad_perfil_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.habilidad(id_habilidad);


--
-- Name: habilidad_perfil habilidad_perfil_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habilidad_perfil
    ADD CONSTRAINT habilidad_perfil_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- Name: imagen_moodboard imagen_moodboard_id_imagen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagen_moodboard
    ADD CONSTRAINT imagen_moodboard_id_imagen_fkey FOREIGN KEY (id_imagen) REFERENCES public.imagen(id_imagen);


--
-- Name: imagen_moodboard imagen_moodboard_id_moodboard_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imagen_moodboard
    ADD CONSTRAINT imagen_moodboard_id_moodboard_fkey FOREIGN KEY (id_moodboard) REFERENCES public.moodboard(id_moodboard);


--
-- Name: invitacion_actividad invitacion_actividad_id_perfil_destinatario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_actividad
    ADD CONSTRAINT invitacion_actividad_id_perfil_destinatario_fkey FOREIGN KEY (id_perfil_destinatario) REFERENCES public.perfil(id_perfil);


--
-- Name: invitacion_actividad invitacion_actividad_id_perfil_remitente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_actividad
    ADD CONSTRAINT invitacion_actividad_id_perfil_remitente_fkey FOREIGN KEY (id_perfil_remitente) REFERENCES public.perfil(id_perfil);


--
-- Name: invitacion_actividad invitacion_actividad_id_requerimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_actividad
    ADD CONSTRAINT invitacion_actividad_id_requerimiento_fkey FOREIGN KEY (id_requerimiento) REFERENCES public.requerimiento_actividad(id_requerimiento);


--
-- Name: invitacion_gral invitacion_gral_id_perfil_destinatario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_gral
    ADD CONSTRAINT invitacion_gral_id_perfil_destinatario_fkey FOREIGN KEY (id_perfil_destinatario) REFERENCES public.perfil(id_perfil);


--
-- Name: invitacion_gral invitacion_gral_id_perfil_remitente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_gral
    ADD CONSTRAINT invitacion_gral_id_perfil_remitente_fkey FOREIGN KEY (id_perfil_remitente) REFERENCES public.perfil(id_perfil);


--
-- Name: invitacion_gral invitacion_gral_id_requerimiento_gral_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitacion_gral
    ADD CONSTRAINT invitacion_gral_id_requerimiento_gral_fkey FOREIGN KEY (id_requerimiento_gral) REFERENCES public.requerimiento_gral_proyecto(id_requerimiento_gral);


--
-- Name: jornada_agenda jornada_agenda_id_agenda_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jornada_agenda
    ADD CONSTRAINT jornada_agenda_id_agenda_fkey FOREIGN KEY (id_agenda) REFERENCES public.agenda(id_agenda);


--
-- Name: miembros_proyecto miembros_proyecto_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto
    ADD CONSTRAINT miembros_proyecto_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- Name: miembros_proyecto miembros_proyecto_id_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto
    ADD CONSTRAINT miembros_proyecto_id_proyecto_fkey FOREIGN KEY (id_proyecto) REFERENCES public.proyecto(id_proyecto);


--
-- Name: miembros_proyecto miembros_proyecto_id_rol_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.miembros_proyecto
    ADD CONSTRAINT miembros_proyecto_id_rol_proyecto_fkey FOREIGN KEY (id_rol_proyecto) REFERENCES public.rol_proyecto(id_rol_proyecto);


--
-- Name: moodboard moodboard_id_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.moodboard
    ADD CONSTRAINT moodboard_id_proyecto_fkey FOREIGN KEY (id_proyecto) REFERENCES public.proyecto(id_proyecto);


--
-- Name: objetivo objetivo_id_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetivo
    ADD CONSTRAINT objetivo_id_proyecto_fkey FOREIGN KEY (id_proyecto) REFERENCES public.proyecto(id_proyecto);


--
-- Name: perfil perfil_id_imagen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_id_imagen_fkey FOREIGN KEY (id_imagen) REFERENCES public.imagen(id_imagen);


--
-- Name: perfil perfil_id_profesion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_id_profesion_fkey FOREIGN KEY (id_profesion) REFERENCES public.profesion(id_profesion);


--
-- Name: perfil perfil_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: planificacion planificacion_id_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planificacion
    ADD CONSTRAINT planificacion_id_proyecto_fkey FOREIGN KEY (id_proyecto) REFERENCES public.proyecto(id_proyecto);


--
-- Name: postulacion_actividad postulacion_actividad_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_actividad
    ADD CONSTRAINT postulacion_actividad_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- Name: postulacion_actividad postulacion_actividad_id_requerimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_actividad
    ADD CONSTRAINT postulacion_actividad_id_requerimiento_fkey FOREIGN KEY (id_requerimiento) REFERENCES public.requerimiento_actividad(id_requerimiento);


--
-- Name: postulacion_gral postulacion_gral_id_perfil_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_gral
    ADD CONSTRAINT postulacion_gral_id_perfil_fkey FOREIGN KEY (id_perfil) REFERENCES public.perfil(id_perfil);


--
-- Name: postulacion_gral postulacion_gral_id_requerimiento_gral_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.postulacion_gral
    ADD CONSTRAINT postulacion_gral_id_requerimiento_gral_fkey FOREIGN KEY (id_requerimiento_gral) REFERENCES public.requerimiento_gral_proyecto(id_requerimiento_gral);


--
-- Name: proyecto proyecto_id_ubicacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto
    ADD CONSTRAINT proyecto_id_ubicacion_fkey FOREIGN KEY (id_ubicacion) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: requerimiento_act_caract requerimiento_act_caract_id_caracteristica_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_caract
    ADD CONSTRAINT requerimiento_act_caract_id_caracteristica_fkey FOREIGN KEY (id_caracteristica) REFERENCES public.caracteristica_tecnica(id_caracteristica);


--
-- Name: requerimiento_act_caract requerimiento_act_caract_id_requerimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_caract
    ADD CONSTRAINT requerimiento_act_caract_id_requerimiento_fkey FOREIGN KEY (id_requerimiento) REFERENCES public.requerimiento_actividad(id_requerimiento);


--
-- Name: requerimiento_act_habilidad requerimiento_act_habilidad_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_habilidad
    ADD CONSTRAINT requerimiento_act_habilidad_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.habilidad(id_habilidad);


--
-- Name: requerimiento_act_habilidad requerimiento_act_habilidad_id_requerimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_act_habilidad
    ADD CONSTRAINT requerimiento_act_habilidad_id_requerimiento_fkey FOREIGN KEY (id_requerimiento) REFERENCES public.requerimiento_actividad(id_requerimiento);


--
-- Name: requerimiento_actividad requerimiento_actividad_id_actividad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_actividad
    ADD CONSTRAINT requerimiento_actividad_id_actividad_fkey FOREIGN KEY (id_actividad) REFERENCES public.actividad(id_actividad);


--
-- Name: requerimiento_actividad requerimiento_actividad_id_profesion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_actividad
    ADD CONSTRAINT requerimiento_actividad_id_profesion_fkey FOREIGN KEY (id_profesion) REFERENCES public.profesion(id_profesion);


--
-- Name: requerimiento_gral_caract requerimiento_gral_caract_id_caracteristica_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_caract
    ADD CONSTRAINT requerimiento_gral_caract_id_caracteristica_fkey FOREIGN KEY (id_caracteristica) REFERENCES public.caracteristica_tecnica(id_caracteristica);


--
-- Name: requerimiento_gral_caract requerimiento_gral_caract_id_requerimiento_gral_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_caract
    ADD CONSTRAINT requerimiento_gral_caract_id_requerimiento_gral_fkey FOREIGN KEY (id_requerimiento_gral) REFERENCES public.requerimiento_gral_proyecto(id_requerimiento_gral);


--
-- Name: requerimiento_gral_habilidad requerimiento_gral_habilidad_id_habilidad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_habilidad
    ADD CONSTRAINT requerimiento_gral_habilidad_id_habilidad_fkey FOREIGN KEY (id_habilidad) REFERENCES public.habilidad(id_habilidad);


--
-- Name: requerimiento_gral_habilidad requerimiento_gral_habilidad_id_requerimiento_gral_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_habilidad
    ADD CONSTRAINT requerimiento_gral_habilidad_id_requerimiento_gral_fkey FOREIGN KEY (id_requerimiento_gral) REFERENCES public.requerimiento_gral_proyecto(id_requerimiento_gral);


--
-- Name: requerimiento_gral_proyecto requerimiento_gral_proyecto_id_profesion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_proyecto
    ADD CONSTRAINT requerimiento_gral_proyecto_id_profesion_fkey FOREIGN KEY (id_profesion) REFERENCES public.profesion(id_profesion);


--
-- Name: requerimiento_gral_proyecto requerimiento_gral_proyecto_id_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.requerimiento_gral_proyecto
    ADD CONSTRAINT requerimiento_gral_proyecto_id_proyecto_fkey FOREIGN KEY (id_proyecto) REFERENCES public.proyecto(id_proyecto);


--
-- Name: rol_global_permiso rol_global_permiso_id_permiso_global_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global_permiso
    ADD CONSTRAINT rol_global_permiso_id_permiso_global_fkey FOREIGN KEY (id_permiso_global) REFERENCES public.permiso_global(id_permiso_global);


--
-- Name: rol_global_permiso rol_global_permiso_id_rol_global_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_global_permiso
    ADD CONSTRAINT rol_global_permiso_id_rol_global_fkey FOREIGN KEY (id_rol_global) REFERENCES public.rol_global(id_rol_global);


--
-- Name: rol_proyecto_permiso rol_proyecto_permiso_id_permiso_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto_permiso
    ADD CONSTRAINT rol_proyecto_permiso_id_permiso_proyecto_fkey FOREIGN KEY (id_permiso_proyecto) REFERENCES public.permiso_proyecto(id_permiso_proyecto);


--
-- Name: rol_proyecto_permiso rol_proyecto_permiso_id_rol_proyecto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_proyecto_permiso
    ADD CONSTRAINT rol_proyecto_permiso_id_rol_proyecto_fkey FOREIGN KEY (id_rol_proyecto) REFERENCES public.rol_proyecto(id_rol_proyecto);


--
-- Name: usuario usuario_id_genero_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_genero_fkey FOREIGN KEY (id_genero) REFERENCES public.genero(id_genero);


--
-- Name: usuario usuario_id_rol_global_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_rol_global_fkey FOREIGN KEY (id_rol_global) REFERENCES public.rol_global(id_rol_global);


--
-- Name: usuario usuario_id_ubicacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_ubicacion_fkey FOREIGN KEY (id_ubicacion) REFERENCES public.ubicacion(id_ubicacion);


--
-- Name: valor_caracteristica valor_caracteristica_id_caracteristica_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.valor_caracteristica
    ADD CONSTRAINT valor_caracteristica_id_caracteristica_fkey FOREIGN KEY (id_caracteristica) REFERENCES public.caracteristica_tecnica(id_caracteristica);


--
-- PostgreSQL database dump complete
--



-- =====================================================================
-- MODULO: Hitos de Proyecto y Notificaciones (Reflejo V23__crear_hitos.sql)
-- =====================================================================
-- =====================================================================
-- ModaLink - Módulo de Hitos de Proyecto y Notificaciones
-- Migración Flyway: V23__crear_hitos.sql
-- =====================================================================

-- ---------------------------------------------------------------------
-- 1. Tabla genérica de notificaciones
-- (Se crea una estructura mínima ya que no existía tabla previa en el esquema;
--  queda sujeta a ampliación para el módulo específico de notificaciones)
-- ---------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS notificacion (
    id_notificacion    BIGSERIAL PRIMARY KEY,
    id_usuario_destino BIGINT NOT NULL REFERENCES usuario(id_usuario),
    tipo               VARCHAR(50) NOT NULL,   -- 'HitoCumplido', 'HitoVencido', 'PostulacionRecibida', etc.
    mensaje            TEXT,
    entidad_tipo       VARCHAR(50),            -- 'hito', 'postulacion', 'proyecto', etc.
    entidad_id         BIGINT,
    leida              BOOLEAN NOT NULL DEFAULT false,
    fecha_generada     TIMESTAMP NOT NULL DEFAULT now()
);

-- ---------------------------------------------------------------------
-- 2. Asegurar columna estado en tabla actividad
-- ---------------------------------------------------------------------
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM information_schema.columns
        WHERE table_schema = 'public'
          AND table_name = 'actividad'
          AND column_name = 'estado'
    ) THEN
        ALTER TABLE actividad
            ADD COLUMN estado VARCHAR(20) NOT NULL DEFAULT 'Pendiente',
            ADD CONSTRAINT chk_actividad_estado CHECK (estado IN ('Pendiente', 'EnCurso', 'Completada', 'Cancelada'));
    END IF;
END $$;

-- ---------------------------------------------------------------------
-- 3. Tabla hito
-- ---------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS hito (
    id_hito             BIGSERIAL PRIMARY KEY,
    id_proyecto         BIGINT NOT NULL REFERENCES proyecto(id_proyecto),
    nombre              VARCHAR(150) NOT NULL,
    descripcion         TEXT,
    fecha_limite        DATE NULL,        -- NULL = solo indicador de progreso, sin efecto en planificación
    fecha_cumplimiento  DATE NULL,
    estado              VARCHAR(20) NOT NULL DEFAULT 'Pendiente'
                        CHECK (estado IN ('Pendiente', 'Cumplido', 'Retrasado')),
    fecha_creacion      TIMESTAMP NOT NULL DEFAULT now()
);

-- ---------------------------------------------------------------------
-- 4. Tabla asociativa hito_actividad
-- ---------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS hito_actividad (
    id_hito      BIGINT NOT NULL REFERENCES hito(id_hito),
    id_actividad BIGINT NOT NULL REFERENCES actividad(id_actividad),
    PRIMARY KEY (id_hito, id_actividad)
);

-- ---------------------------------------------------------------------
-- 5. Validaciones e integridad para hito
-- a) Trigger BEFORE INSERT OR UPDATE ON hito:
--    Si fecha_limite IS NOT NULL, verificar que no supere la fecha_entrega
--    de la planificación asociada al proyecto.
-- ---------------------------------------------------------------------
CREATE OR REPLACE FUNCTION fn_validar_fecha_limite_hito() RETURNS trigger AS $$
DECLARE
    v_fecha_entrega DATE;
BEGIN
    IF NEW.fecha_limite IS NOT NULL THEN
        SELECT p.fecha_entrega INTO v_fecha_entrega
        FROM planificacion p
        WHERE p.id_proyecto = NEW.id_proyecto;

        IF v_fecha_entrega IS NOT NULL AND NEW.fecha_limite > v_fecha_entrega THEN
            RAISE EXCEPTION 'La fecha límite del hito (%) no puede superar la fecha de entrega de la planificación del proyecto (%)',
                NEW.fecha_limite, v_fecha_entrega;
        END IF;
    END IF;

    RETURN NEW;
END $$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_validar_fecha_limite_hito ON hito;
CREATE TRIGGER trg_validar_fecha_limite_hito
    BEFORE INSERT OR UPDATE ON hito
    FOR EACH ROW EXECUTE FUNCTION fn_validar_fecha_limite_hito();

-- b) Trigger BEFORE DELETE ON hito:
--    No debe poder borrarse un hito mientras tenga filas asociadas en hito_actividad.
-- ---------------------------------------------------------------------
CREATE OR REPLACE FUNCTION fn_validar_borrado_hito() RETURNS trigger AS $$
DECLARE
    v_actividades_asociadas INT;
BEGIN
    SELECT COUNT(*) INTO v_actividades_asociadas
    FROM hito_actividad
    WHERE id_hito = OLD.id_hito;

    IF v_actividades_asociadas > 0 THEN
        RAISE EXCEPTION 'No se puede eliminar el hito (ID %) porque tiene % actividad(es) asociada(s). Debe desvincularlas primero.',
            OLD.id_hito, v_actividades_asociadas;
    END IF;

    RETURN OLD;
END $$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_validar_borrado_hito ON hito;
CREATE TRIGGER trg_validar_borrado_hito
    BEFORE DELETE ON hito
    FOR EACH ROW EXECUTE FUNCTION fn_validar_borrado_hito();

-- ---------------------------------------------------------------------
-- 6. Derivación de estado y notificación al cumplirse
-- Trigger AFTER UPDATE OF estado ON actividad:
-- - Cuando una actividad pasa a estado 'Completada', buscar hitos asociados
--   vía hito_actividad y verificar si todas sus actividades asociadas están
--   en 'Completada'.
-- - Si es así: UPDATE hito SET estado='Cumplido', fecha_cumplimiento=CURRENT_DATE.
-- - Notificar al o a los Directores activos del proyecto.
-- ---------------------------------------------------------------------
CREATE OR REPLACE FUNCTION fn_derivar_cumplimiento_hito() RETURNS trigger AS $$
DECLARE
    r_hito RECORD;
    r_director RECORD;
    v_pendientes INT;
    v_id_rol_director BIGINT;
BEGIN
    -- Solo actuar cuando la actividad pasa a estado 'Completada'
    IF NEW.estado = 'Completada' AND (OLD.estado IS NULL OR OLD.estado <> 'Completada') THEN
        
        -- Obtener el ID del rol 'Director'
        SELECT id_rol_proyecto INTO v_id_rol_director
        FROM rol_proyecto
        WHERE nombre = 'Director';

        -- Iterar sobre los hitos asociados a esta actividad que aún no estén cumplidos
        FOR r_hito IN
            SELECT h.id_hito, h.id_proyecto, h.nombre AS nombre_hito
            FROM hito h
            JOIN hito_actividad ha ON h.id_hito = ha.id_hito
            WHERE ha.id_actividad = NEW.id_actividad
              AND h.estado <> 'Cumplido'
        LOOP
            -- Contar cuántas actividades del hito NO están completadas
            SELECT COUNT(*) INTO v_pendientes
            FROM hito_actividad ha_sub
            JOIN actividad a ON ha_sub.id_actividad = a.id_actividad
            WHERE ha_sub.id_hito = r_hito.id_hito
              AND a.estado <> 'Completada';

            -- Si no quedan actividades pendientes, el hito pasa a Cumplido
            IF v_pendientes = 0 THEN
                UPDATE hito
                SET estado = 'Cumplido',
                    fecha_cumplimiento = CURRENT_DATE
                WHERE id_hito = r_hito.id_hito;

                -- Notificar a todos los directores activos del proyecto
                FOR r_director IN
                    SELECT per.id_usuario
                    FROM miembros_proyecto mp
                    JOIN perfil per ON mp.id_perfil = per.id_perfil
                    WHERE mp.id_proyecto = r_hito.id_proyecto
                      AND mp.id_rol_proyecto = v_id_rol_director
                      AND mp.estado_participacion = 'Activo'
                LOOP
                    INSERT INTO notificacion (
                        id_usuario_destino,
                        tipo,
                        mensaje,
                        entidad_tipo,
                        entidad_id,
                        leida,
                        fecha_generada
                    ) VALUES (
                        r_director.id_usuario,
                        'HitoCumplido',
                        'El hito "' || r_hito.nombre_hito || '" ha sido completado.',
                        'hito',
                        r_hito.id_hito,
                        false,
                        now()
                    );
                END LOOP;
            END IF;
        END LOOP;
    END IF;

    RETURN NEW;
END $$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_derivar_cumplimiento_hito ON actividad;
CREATE TRIGGER trg_derivar_cumplimiento_hito
    AFTER UPDATE OF estado ON actividad
    FOR EACH ROW EXECUTE FUNCTION fn_derivar_cumplimiento_hito();

-- ---------------------------------------------------------------------
-- 7. Detección de vencimiento
-- Índice optimizado para el job/scheduler de backend que detecta hitos vencidos:
-- SELECT * FROM hito WHERE estado = 'Pendiente' AND fecha_limite < CURRENT_DATE;
-- Nota: La ejecución periódica se resuelve mediante un proceso programado
-- (Scheduled job) en la capa de aplicación backend.
-- ---------------------------------------------------------------------
CREATE INDEX IF NOT EXISTS idx_hito_fecha_limite_pendiente
    ON hito(fecha_limite)
    WHERE estado = 'Pendiente';

